footer {
    background-color: #464547;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;

    .footer_info {
        padding-top: 58px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .footer_info_logo {
            
            display: flex;
            flex-direction: row;
            h2 {
                font-size: 18px;
            }
        }

        .footer_info_contact {
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            a{
                padding-top: 20px;
                text-decoration: none;
                color: #fff;
                opacity: 0.5;
            }
           
            span {
                text-align: center;
                opacity: 0.5;
            }
        }

        .footer_info_rights {
            padding: 20px 0px;
            opacity: 0.5;
        }
    }

}