header {
  background-image: url(../assets/backgroundImage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: #fff; }

header .navbar {
  padding-top: 28px;
  margin-bottom: 180px;
  display: flex;
  justify-content: space-around; }

header .navbar .logo_name {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif; }

header .navbar .navbar_lists .navbar_lists_link {
  display: none; }

header .navbar .navbar_lists .navbar_lists_link a {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  position: relative; }

header .navbar .navbar_lists .burger {
  width: 50px;
  background-color: black; }

header .intro {
  padding-bottom: 200px; }

header .intro .intro_hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

header .intro .intro_hero .intro_hero_logo {
  animation-name: imgRotate;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

