@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
footer {
  background-color: #464547;
  height: 200px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff; }

footer .footer_info {
  padding-top: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

footer .footer_info .footer_info_logo {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-left: 16px;
  gap: 16px; }

footer .footer_info .footer_info_logo h2 {
  font-size: 18px; }

footer .footer_info .footer_info_contact {
  display: flex;
  flex-direction: column;
  margin-left: -16vw; }

footer .footer_info .footer_info_contact a {
  padding-top: 27px;
  text-decoration: none;
  color: #fff;
  opacity: 0.5; }

footer .footer_info .footer_info_contact span {
  opacity: 0.5; }

footer .footer_info .footer_info_rights {
  opacity: 0.5;
  padding-top: 64px; }

header {
  background-image: url(../assets/backgroundImage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: #fff; }

header .navbar {
  padding-top: 28px;
  margin-bottom: 180px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  place-self: center; }

header .navbar .burger {
  display: none; }

header .navbar .logo_name {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif; }

header .navbar .navbar_lists {
  margin-left: -20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

header .navbar .navbar_lists .navbar_lists_link {
  list-style: none;
  margin-left: 27px; }

header .navbar .navbar_lists .navbar_lists_link a {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  position: relative;
  padding-bottom: 4px; }

header .navbar .navbar_lists .navbar_lists_link a:hover .b-animation {
  width: 100%;
  transition: 500ms ease; }

header .navbar .navbar_lists .navbar_lists_link a .b-animation {
  position: absolute;
  bottom: 0;
  border-top: 2px solid #fff;
  left: 0;
  width: 0; }

header .intro {
  padding-bottom: 200px; }

header .intro .intro_hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

header .intro .intro_hero .intro_hero_logo {
  animation-name: imgRotate;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

@keyframes imgRotate {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

header .intro .intro_hero .description {
  margin-top: 13px;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 42px;
  font-family: 'Oswald', sans-serif; }

header .intro .intro_hero span {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  opacity: 0.7; }

.top_intro_text_part {
  background-color: #fff;
  height: fit-content;
  margin-bottom: 58px; }

.top_intro_text_part .heading_intro {
  margin-top: 88px; }

.top_intro_text_part .heading_intro h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center; }

.top_intro_text_part .heading_intro span {
  margin-top: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  opacity: 0.7;
  display: block;
  text-align: center; }

.top_intro_text_part article {
  margin: 48px;
  display: flex;
  justify-content: center;
  gap: 83px; }

.top_intro_text_part article .some_text {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 428px;
  height: auto; }

.top_intro_text_part .btn-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.top_intro_text_part .btn-container .btn {
  border: none;
  padding: 12px;
  text-align: center;
  width: 120px;
  border-radius: 20px;
  color: #fff;
  background-color: #55C2D8; }

.top_intro_text_part .btn-container .btn:hover {
  cursor: pointer; }

.vid_section {
  background-image: url(../assets/vid.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.vid_section .vid_heading {
  padding-top: 10vh;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin-bottom: 64px; }

.vid_section .play_vid {
  border: none;
  background-color: #55C2D8;
  text-align: center;
  width: 145px;
  height: 143px;
  border-radius: 50%;
  color: #fff;
  font-size: 64px; }

.vid_section .play_vid:hover {
  background-color: #fff;
  color: #55C2D8;
  cursor: pointer;
  transition: 500ms ease-in-out;
  transform: scale(0.9); }

.vid_section p {
  margin-top: 54px;
  padding-bottom: 10vh;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; }
